<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zzl.mapper.FilmMapper" >
  <resultMap id="BaseResultMap" type="cn.zzl.dto.Film" >
    <id column="film_id" property="filmId" jdbcType="SMALLINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="release_year" property="releaseYear" jdbcType="DATE" />
    <result column="language_id" property="languageId" jdbcType="TINYINT" />
    <result column="original_language_id" property="originalLanguageId" jdbcType="TINYINT" />
    <result column="rental_duration" property="rentalDuration" jdbcType="TINYINT" />
    <result column="rental_rate" property="rentalRate" jdbcType="DECIMAL" />
    <result column="length" property="length" jdbcType="SMALLINT" />
    <result column="replacement_cost" property="replacementCost" jdbcType="DECIMAL" />
    <result column="rating" property="rating" jdbcType="CHAR" />
    <result column="special_features" property="specialFeatures" jdbcType="CHAR" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    film_id, title,description, release_year, language_id, original_language_id, rental_duration,
    rental_rate, length, replacement_cost, rating, special_features, last_update
  </sql>
  <insert id="insertMsgFilm" parameterType="cn.zzl.dto.Film" >
    insert into film(title,
                    description,
                    language_id)
        VALUES (#{title,jdbcType=VARCHAR},
                #{description,jdbcType=LONGVARCHAR},
                #{languageId,jdbcType=TINYINT})
    </insert>
</mapper>